<div class="form-field">
  <label [for]="name" class="form-field_label">{{ label }}</label>
  <ng-container [ngSwitch]="type">
    <input
      *ngSwitchCase="'number'"
      [type]="type"
      [formControl]="control"
      [required]="required"
      [id]="name"
      class="form-field_numeric-input"
    />
    <textarea
      *ngSwitchCase="'textarea'"
      [formControl]="control"
      [attr.maxLength]="maxLength"
      [required]="required"
      [id]="name"
      class="form-field_textarea"
    ></textarea>
    <input
      *ngSwitchDefault
      [type]="type"
      [formControl]="control"
      [attr.maxLength]="maxLength"
      [required]="required"
      [id]="name"
      class="form-field_text-input"
    />
  </ng-container>
  <div
    *ngIf="control.invalid && control.touched"
    class="form-field_error-messages"
  >
    <span *ngIf="control.errors?.['required']">This field is required.</span>
    <span *ngIf="control.errors?.['maxlength']">Maximum length exceeded.</span>
    <span *ngIf="control.errors?.['pattern']">Only numbers are allowed.</span>
    <span *ngIf="control.errors?.['email']"
      >The input should be a valid email.</span
    >
    <span *ngIf="control.errors?.['invalidDateFormat']"
      >Invalid date format. Please use dd/mm/yyyy.</span
    >
  </div>
</div>
