<div
  class="course-tile"
  appCourseBorder
  [freshBorderColor]="'lightgreen'"
  [upcomingBorderColor]="'cyan'"
  [ngClass]="{ 'course-tile_top-rated': course.isTopRated }"
>
  <div class="course-tile_header">
    <h2>
      {{ course.name | uppercase }}
      <svg
        *ngIf="course.isTopRated"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
          fill="gold"
        />
      </svg>
    </h2>
    <div class="course-tile_info">
      <p><strong>Duration:</strong> {{ course.length | duration }}</p>
      <p>
        <strong>Creation Date:</strong>
        {{ course.date | date : "dd/MM/yyyy" }}
      </p>
    </div>
  </div>
  <div class="course-tile_body">
    <p *ngIf="course.description">
      {{ course.description }}
    </p>
    <div class="course-tile_buttons">
      <app-button
        text="Edit"
        (onClick)="handleEdit()"
        class="course-tile_button"
      ></app-button>
      <app-button
        text="Delete"
        (onClick)="handleDelete()"
        class="course-tile_button"
      ></app-button>
    </div>
  </div>
</div>
