.numeric-input {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  label {
    font-weight: bold;
  }

  input[type="number"] {
    padding: 0.4rem;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
}
