<div class="login-container">
  <h2>Login</h2>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="handleLogin()"
    class="login-container_form"
  >
    <app-form-text-input
      label="E-mail"
      name="email"
      type="email"
      formControlName="email"
    ></app-form-text-input>
    <app-form-text-input
      label="Password"
      name="password"
      type="password"
      formControlName="password"
    ></app-form-text-input>
    <div class="login-container_buttons">
      <a class="login-container_link">Forgot password?</a>
      <app-button
        text="Login"
        class="login-container_button"
        [disabled]="loginForm.invalid"
        type="submit"
      ></app-button>
    </div>
  </form>
  <div *ngIf="errorMessage" class="login-container_error-message">
    {{ errorMessage }}
  </div>
</div>
