<div class="course-form">
  <h2>{{ isEditMode ? "Edit Course" : "Add New Course" }}</h2>
  <form [formGroup]="courseForm">
    <app-form-text-input
      label="Title"
      name="title"
      formControlName="title"
    ></app-form-text-input>

    <app-form-text-area
      label="Description"
      name="description"
      formControlName="description"
    ></app-form-text-area>

    <app-form-date-input
      label="Date"
      name="date"
      formControlName="date"
    ></app-form-date-input>

    <app-form-numeric-input
      label="Duration (minutes)"
      name="duration"
      formControlName="duration"
    ></app-form-numeric-input>

    <div class="buttons">
      <app-button
        text="Cancel"
        (onClick)="handleCancel()"
        class="cancel-button"
      ></app-button>
      <app-button
        text="Save"
        (onClick)="handleSave()"
        class="save-button"
        [disabled]="courseForm.invalid"
      ></app-button>
    </div>
  </form>
</div>
