<div class="course-form">
  <h2>{{ isEditMode ? "Edit Course" : "Add New Course" }}</h2>
  <form>
    <app-text-input
      label="Title"
      [(value)]="title"
      name="title"
      placeholder="Enter course title"
      id="course-form-title"
    ></app-text-input>

    <app-text-area
      label="Description"
      [(value)]="description"
      name="description"
      placeholder="Enter course description"
      id="course-form-description"
    ></app-text-area>

    <app-text-input
      label="Date"
      [(value)]="date"
      name="date"
      placeholder="Enter course date"
      id="course-form-date"
    ></app-text-input>

    <app-numeric-input
      label="Duration (minutes)"
      [(value)]="duration"
      name="duration"
      placeholder="0"
      id="course-form-duration"
      min="0"
    ></app-numeric-input>

    <div class="buttons">
      <app-button
        text="Cancel"
        (onClick)="handleCancel()"
        class="cancel-button"
      ></app-button>
      <app-button
        text="Save"
        (onClick)="handleSave()"
        class="save-button"
      ></app-button>
    </div>
  </form>
</div>
