<div class="course-form">
  <h2>
    {{ isEditMode ? "editCourseLabel" : ("addCourseHeader" | translate) }}
  </h2>
  <form [formGroup]="courseForm">
    <app-form-text-input
      label="{{ 'titleLabel' | translate }}"
      name="title"
      formControlName="title"
      [required]="true"
    ></app-form-text-input>

    <app-form-text-area
      label="{{ 'descriptionLabel' | translate }}"
      name="description"
      formControlName="description"
      [required]="true"
    ></app-form-text-area>

    <app-form-date-input
      label="{{ 'dateLabel' | translate }}"
      name="date"
      formControlName="date"
      [required]="true"
    ></app-form-date-input>

    <app-form-numeric-input
      label="{{ 'durationLabel' | translate }}"
      name="duration"
      formControlName="duration"
      [required]="true"
    ></app-form-numeric-input>

    <app-authors-input
      [selectedAuthors]="selectedAuthors"
      (selectedAuthorsChange)="handleSelectedAuthorsChange($event)"
    ></app-authors-input>

    <div class="buttons">
      <app-button
        text="{{ 'cancelButton' | translate }}"
        (onClick)="handleCancel()"
        class="cancel-button"
      ></app-button>
      <app-button
        text="{{ 'saveButton' | translate }}"
        (onClick)="handleSave()"
        class="save-button"
        [disabled]="courseForm.invalid"
      ></app-button>
    </div>
  </form>
</div>
