<div class="toolbar">
  <div class="toolbar_search">
    <input
      type="text"
      placeholder="Search courses"
      [(ngModel)]="searchQuery"
      class="toolbar_input"
      (keyup)="onSearchInputChange(searchQuery)"
    />
    <button
      *ngIf="searchQuery"
      class="toolbar_clear"
      (click)="handleClearSearch()"
      aria-label="Clear search"
    >
      &#x2715;
    </button>
  </div>
  <app-button
    text="Add Course"
    (onClick)="handleAddCourse()"
    class="toolbar_add-button"
  ></app-button>
</div>
