.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 1rem 0;

  &_search {
    display: flex;
    gap: 1rem;
  }

  &_input {
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  &_add-button {
    ::ng-deep {
      .button {
        background-color: dodgerblue;
        color: white;
      }
    }
  }

  &_clear {
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: gray;
  }
}
