<div class="toolbar">
  <form [formGroup]="searchForm" class="toolbar_search">
    <input
      type="text"
      formControlName="searchQuery"
      placeholder="{{ 'searchPlaceholder' | translate }}"
      class="toolbar_input"
    />
    <button
      *ngIf="searchForm.get('searchQuery')?.value"
      class="toolbar_clear"
      (click)="handleClearSearch()"
      type="button"
      aria-label="Clear search"
    >
      &#x2715;
    </button>
  </form>
  <app-button
    text="{{ 'addButton' | translate }}"
    (onClick)="handleAddCourse()"
    class="toolbar_add-button"
  ></app-button>
</div>
