.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 1rem 4rem;

  &_search {
    display: flex;
    gap: 1rem;
  }

  &_search-button {
    ::ng-deep {
      .button {
        background-color: green;
        color: white;
      }
    }
  }

  &_add-button {
    ::ng-deep {
      .button {
        background-color: blue;
        color: white;
      }
    }
  }
}
