<div class="courses-page">
  <app-toolbar (search)="onSearch($event)"></app-toolbar>

  <!-- Show loading indicator -->
  <ng-container *ngIf="loading$ | async">
    <p class="courses-page_loading">Loading...</p>
  </ng-container>

  <!-- Show error message if any -->
  <ng-container *ngIf="error$ | async as errorMessage">
    <p class="courses-page_error">{{ errorMessage }}</p>
  </ng-container>

  <!-- Show courses list or no data template -->
  <ng-container *ngIf="courses$ | async as courses; else noDataTemplate">
    <app-course-tile
      *ngFor="
        let course of courses | orderBy : 'date';
        trackBy: trackByCourseId;
        let first = first;
        let last = last;
        let odd = odd;
        let even = even
      "
      [course]="course"
      (deleteCourse)="onCourseDelete($event)"
      (editCourse)="onCourseEdit($event)"
      [class.first]="first"
      [class.last]="last"
      [class.odd]="odd"
      [class.even]="even"
    ></app-course-tile>
    <app-button
      text="{{ 'loadMoreButton' | translate }}"
      (onClick)="handleLoadMore()"
      class="courses-page_load-more"
    ></app-button>
  </ng-container>

  <!-- Template for no data -->
  <ng-template #noDataTemplate>
    <p class="courses-page_no-data">No Data</p>
  </ng-template>
</div>
