<div class="courses-page">
  <app-toolbar (search)="onSearch($event)"></app-toolbar>

  <ng-container *ngIf="courses.length; else noDataTemplate">
    <app-course-tile
      *ngFor="
        let course of courses | orderBy : 'date';
        trackBy: trackByCourseId;
        let first = first;
        let last = last;
        let odd = odd;
        let even = even
      "
      [course]="course"
      (deleteCourse)="onCourseDelete($event)"
      (editCourse)="onCourseEdit($event)"
      [class.first]="first"
      [class.last]="last"
      [class.odd]="odd"
      [class.even]="even"
    ></app-course-tile>
    <app-button
      text="Load More"
      (onClick)="handleLoadMore()"
      class="courses-page_load-more"
    ></app-button>
  </ng-container>

  <ng-template #noDataTemplate>
    <p class="courses-page_no-data">No Data</p>
  </ng-template>
</div>
